body {
    background-color: #ffff;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
    color: #000000;
}

h1, h2, h3 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.options-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.options-container input {
    margin: 5px;
}

table {
    margin: auto;
    width: 95%;
}

table, th, td {
    border: 1px solid;
}

td {
    white-space: nowrap;
}