body {
    background-color: #181A1B;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
    color: #ffffff;
}

h1, h2, h3 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.options-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

input {
    display: flex;
    align-items: center;
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    padding: 0.7em 1.4em 0.7em 1.1em;
    color: white;
    background: #ad5389;
    background: linear-gradient(0deg, rgb(167, 21, 216) 0%, rgb(229, 41, 242) 100%);
    border: none;
    letter-spacing: 0.05em;
    border-radius: 20em;
    cursor: pointer;
    user-select: none;
    touch-action: manipulation;
    margin: 10px;
}

.data-summary {
    padding: 10px;
    margin: auto;
    width: fit-content;
    border: 3px solid rgb(167, 21, 216);
}

.data-summary h2 {
    text-decoration: underline;
}

table {
    margin: auto;
    width: 95%;
}

table, th, td {
    border: 1px solid;
}

td {
    white-space: nowrap;
}