<!DOCTYPE html>
<html>
    <form method="POST" action="/dhondt">
    <head>
        <title>Election System</title>
        <link rel="stylesheet" type="text/css" href="/static/style.css" />
    </head>
    <body>
        <h1>D'Hondt Data</h1>
        <div class="options-container">
            <input type = "submit" name="dhondtcounty" value="By County"> <br>
            <input type = "submit" name="dhondtregion" value="By Region"> <br>
            <input type = "submit" name="dhondtcountry" value="By Country"> <br>
            <input type = "submit" name="back" value="Go Back">
        </div>
    </body>
</html>