<!DOCTYPE html>
<html>
<head>
    <title>Election System</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css" />
</head>
<body>
    <form method="POST" action="/fptpdata">
        <input type="submit" name="back" value="Go Back">
    </form>

    <h1>FPTP Seats Distribution</h1>

    <table>
        <tr>
            <th>Party</th>
            <th>Votes</th>
            <th>Seats Won</th>
            <th>Percentage Of Seats</th>
            <th>Percentage of Votes</th>
            <th>Difference in Percentages</th>
            <th>Seats Difference from Winner</th>
        </tr>
        {% for party, details in data.items() %}
            <tr>
                <td>{{ party }}</td>
                <td>{{ details.votes }}</td>
                <td>{{ details.seats }}</td>
                <td>{{ details.percentage_seats }}</td>
                <td>{{ details.percentage_votes }}</td>
                <td>{{ details.difference_in_seats_votes }}</td>
                <td>{{ details.seats_from_diff_winner }}</td>
            </tr>
        {% endfor %}
    </table>
</body>
</html>