<!DOCTYPE html>
<html>
    <form method="POST" action="/home">
    <head>
        <title>Election System</title>
        <link rel="stylesheet" type="text/css" href="/static/style.css" />
    </head>
    <body>
        <h1>Election System</h1>
        <h2>2019 Results</h2>

        <div class="options-container">
            <input type = "submit" name="viewalldata" value="View All Data"> <br>
            <input type = "submit" name="fptpseats" value="First past the post Method"> <br>
            <input type = "submit" name="sprelection" value="General Election seats based on Simple Proportional Representation"> <br>
            <input type = "submit" name="lrelection" value="General Election seats allocations based on Largest Remainder"> <br>
            <input type = "submit" name="dhondt" value="General Election seats allocations based on D'Hondt"> <br>
        </div>
    </body>
</html>