<!DOCTYPE html>
<html>
    <form method="POST" action="/">
    <head>
        <title>Election System</title>
        <link rel="stylesheet" type="text/css" href="/static/style.css" />
    </head>
    <body>
        <h1>Election System</h1>

        <div class="options-container">
            <input type = "submit" name="viewdata" value="View Data"> <br>
            <input type = "submit" name="adddata" value="Add New Data"><br>
            <input type = "submit" name="editdata" value = "Edit Data"><br>
            <input type = "submit" name="deletedata" value = "Delete Data"><br>
        </div>

    </body>
</html>