<!DOCTYPE html>
<html>

<form method="POST" action="/lrelectiondata">
    <head>
        <title>Election System</title>
        <link rel="stylesheet" type="text/css" href="/static/style.css" />
    </head>
    <body>
        <input type="submit" name="back" value="Go Back">
        <h1>Largest Remainder Data</h1>
        
        {% if data %}
            <h2>Via {{ data[0] }}</h2>

            {% for geo_name, parties in data[1].items() %}
                <h3>{{ geo_name }}</h3>
                <table>
                    <thead>
                        <tr>
                            <th>Party</th>
                            <th>Votes</th>
                            <th>Seats Won</th>
                            <th>Percentage of Seats</th>
                            <th>Percentage of Votes</th>
                            <th>Difference in Percentages</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for party, result in parties.items() %}
                            <tr>
                                <td>{{ party }}</td>
                                <td>{{ result['votes'] }}</td>
                                <td>{{ result['seats'] }}</td>
                                <td>{{ result['percentage_seats'] }}</td>
                                <td>{{ result['percentage_votes'] }}</td>
                                <td>{{ result['difference_in_seats_votes'] }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% endfor %}
        {% else %}
            <p>No data available.</p>
        {% endif %}
        
    </body>
</html>