<!DOCTYPE html>
<html>
    <form method="POST" action="/lrelectiondata">
    <head>
        <title>Election System</title>
        <link rel="stylesheet" type="text/css" href="/static/style.css" />
    </head>
    <body>
        <input type="submit" name="back" value="Go Back">
        <h1>Largest Remainder Data</h1>
        <h2>Via {{ data[0] }} </h2>

        <table>
            <tr>
                <th>{{ data[0] }} Name</th>
                <th>Remaining Seats</th>
            </tr>
            {% for key, value in data[1].items() %}
            <tr>
                <td>{{ key }}</td>
                <td>{{ value }}</td>
            </tr>
            {% endfor %}
        </table>
    </body>
</html>