<!DOCTYPE html>
<html>
<head>
    <title>Proportional Representation Data</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css" />
</head>
<body>
    <input type="submit" name="back" value="Go Back">
    <h1>Proportional Representation Data</h1>
    <h2>Via {{ data[0] }} </h2>

    <table>
        <tr>
            {% if data[0] == "All Seats" or data[0] == "All Seats with 5% Threshold" %}
                <th>Party Name</th>
            {% else %}
                <th>{{ data[0] }} Name</th>
            {% endif %}
            <th>Percentage of Seats</th>
        </tr>
        {% for key, value in data[1].items() %}
        <tr>
            <td>{{ key }}</td>
            <td>{{ value }}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>
