<!DOCTYPE html>
<html>
    <form method="POST" action="/sprelection">
    <head>
        <title>Election System</title>
        <link rel="stylesheet" type="text/css" href="/static/style.css" />
    </head>
    <body>
        <h1>Proportional Representation Data</h1>

        <div class="options-container">
            <input type="submit" name="electionspr" value="All Seats"> <br>
            <input type="submit" name="electionsprthreshold" value="All Seats with 5% threshold"> <br>
            <input type="submit" name="electionsprcounty" value="By County"> <br>
            <input type="submit" name="electionsprregion" value="By Region"> <br>
            <input type="submit" name="electionsprcountry" value="By Country"> <br>
            <input type="submit" name="back" value="Go Back">
        </div>
    </body>
</html>