<!DOCTYPE html>
<html>
    <form method="POST" action="/sprelectiondata">
    <head>
        <title>Election System</title>
        <link rel="stylesheet" type="text/css" href="/static/style.css" />
    </head>
    <body>
        <input type="submit" name="back" value="Go Back">
        <h1>Proportional Representation Data</h1>
        <h2>Via {{ data[0] }} </h2>

        <table>
            <tr>
                {% if data[0] == "All Seats" or data[0] == "All Seats with 5% Threshold" %}
                    <th>Party</th>
                {% else %}
                    <th>{{ data[0] }}</th>
                {% endif %}
                <th>Votes</th>
                <th>Seats Won</th>
                <th>Percentage of Seats</th>
                <th>Percentage of Votes</th>
                <th>Difference in Percentages</th>
                <th>Seats Difference from Winner</th>
            </tr>
            {% for party, details in data[1].items() %}
            <tr>
                <td>{{ party }}</td>
                <td>{{ details['votes'] }}</td>
                <td>{{ details['seats'] }}</td>
                <td>{{ details['percentage_seats'] }}</td>
                <td>{{ details['percentage_votes'] }}</td>
                <td>{{ details['difference_in_seats_votes'] }}</td>
                <td>{{ details['seats_from_diff_winner'] }}</td>
            </tr>
        {% endfor %}
        </table>
    </body>
</html>