<!DOCTYPE html>
<html>
    <form method="POST" action="/viewdata">
    <head>
        <title>Election System</title>
        <link rel="stylesheet" type="text/css" href="/static/style.css" />
    </head>
    <body>
        <h1>Election System</h1>

        <h2>View Data</h2>

        <div class="options-container">
            <input type = "submit" name="viewalldata" value="View All Data"> <br>
            <input type = "submit" name="fptpseats" value="First past the post Method"> <br>
            <input type = "submit" name="sprelection" value="General Election seats based on Simple Proportional Representation"> <br>
            <input type = "submit" name="lrelection" value="General Election seats allocations based on Largest Remainder"> <br>
            <input type = "submit" name="back" value="Go Back">
        </div>
    </body>
</html>